<div class="text-center">
  <h1> Your word is: <%= @word %></h1>
  <h1> Your grid was: <%= @grid %></h1>

  <h3>Time spent: <%= @time_spent %>s</h3>
  <h3>your score is: </h3>

  <%= link_to "Home", root_path %>
</div>
